
/* geral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #323232;
    border: none;
}

body {
    background-image: url(logo3.jpg);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #fff;
 }

textarea:focus, input:focus {
    outline: none;
}

a {
    font-size: .8rem; /* 16 * .8 = x*/
}

a:hover {
    color: #08558B;
}

/* container login */

#login-container{
    background-color: #fff;
    width: 400px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 5vh;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 40px;
    }

/*formulario */

form {
    margin-top: 10px;
    margin-bottom: 40px;
}

label, input {
    display: block;
    width: 100%;
    text-align: left;
}

label {
    font-weight: bold;
    font-size: .8rem;
}

input {
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
}

input:focus {
    border-bottom: 2px solid #08558B;
}

#forgot-pass {
    text-align: right;
    display: block;
}

input[type="submit"] {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    color: #FFF;
    background-color: #08558B;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #1b223c;
    transition: .5s;
}

/*redes sociais */

#social-container , #social-container p{
    margin-bottom: 20px;
}

#social-container i {
    height: 40px;
    width: 40px;
     border-radius: 50%;
    line-height: 40px;
    color: #FFF;
    margin: 0 5px;
    cursor: pointer;
}

.fa-facebook-f {
    background-color: #3B5998;
}

.fa-linkedin {
    background-color: #0077B5;
}

.fa-instagram {
    background-image: radial-gradient(circle at 33% 100%,
    #FED373 4%,
    #F15245 30%,
    #D92E7F 62%,
    #9836B7 85%,
    #515ECF
    );
}

/* registrar */

#register-container p {
    margin-bottom: 10px;
}

/* validação */
.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
display: block;
width: 100%;
text-align: left;

font-weight: bold;
font-size: .8rem;
}

.form-control input {
	border-bottom: 2px solid #323232;
	padding: 10px;
	font-size: 1rem;
	width: 100%;
	margin-bottom: 20px;
}

.form-control input:focus {
border-bottom: 2px solid #08558B
}

.form-control.success input {
	border-bottom: 3px solid #4ECA64;
}

.form-control.error input {
	border-bottom: 3px solid #DB5A5A;
}

.form-control.error i.img-error {
	visibility: visible;
}

.form-control.success i.img-success {
	visibility: visible;
}

.form-control.error small{
	color: #DB5A5A;
	visibility: visible;
}

.form-control i {
	position: absolute;
	top: 30px;
	right: 10px;
	visibility: hidden;
}

.form-control small {
	visibility: hidden;
	position: relative;
	margin-top: 5px;
	font-size: 14px;

}